<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>小区物业信息管理</title>
      <script src="/javascripts/angular.min.js"></script>
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
      <script src="/controllers/adminaffctrl.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/layoutit.css">
      <style type="text/css">
        body {
          margin-left: 10%;
          margin-right: 10%;
         
         background: url("/images/bg.jpg");
         background-position: center 0; 
         background-repeat: no-repeat;  
         background-attachment: fixed; 
         background-size: cover; 
         -webkit-background-size: cover;  
         -o-background-size: cover;  
         -moz-background-size: cover;  
         -ms-background-size: cover;
     
        }
       </style>
  </head>
  <body>    
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"> 小区物业信息管理系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/admin">用户工单</a></li>
                <li><a href="/viewuser">用户信息</a></li>
                <li><a href="/indexnews">新闻通知</a></li>
                <li><a href="/logout">退出</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="container" ng-app="myApp" ng-controller="AffCtrl">
          <div>
              <p class="alert alert-danger " ng-show="ad.errMsg">{{ad.errMsg}}</p>
              <p class="alert alert-success" ng-show="ad.msg">{{ad.msg}}</p>
          </div>
          <div>
            <form class="form-group">
              <div class="row">
                <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                      <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="工单状态..." ng-model="aff.stat">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="udAffair()">提交</button>
                          </span>
                      </div>
                  </div>
                <div class="col-lg-3"></div>  
            </form>
          </div>
          <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-search"></span>
              <input type="text" class="form-control" ng-model="search" placeholder="输入关键词查找工单...">
          </div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 30%">工单</th>
                  <th style="width: 30%">状态</th>
                  <th style="width: 8%">创建时间</th>
                  <th style="width: 8%">负责人</th>
                  <th style="width: 8%">操作</th>
                  <th style="width: 8%"></th>
                  <th style="width: 8%"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contact in affairList.slice().reverse() | filter:search">
                  <td>{{contact.affair}}</td>
                  <td>{{contact.stat}}</td>
                  <td>{{contact.date | date: 'yyyy年MM月dd日'}}</td>
                  <td>{{contact.name}}</br>{{contact.phone}}</td>
                  <td><button class="btn btn-primary" ng-click="edit(contact._id)">修改状态</button></td>
                  <td><button class="btn btn-info" ng-click="viewuserMsg(contact._id)">用户信息</button></td>
                  <td><button class="btn btn-danger" ng-click="delectAff(contact._id)">删除</button></td>
                </tr>
              </tbody>
            </table>    
          </div>
        </div>
  </body>
</html>