doctype html
html
  head
    title= title
    //-link(rel='stylesheet', href='/stylesheets/style.css')
    //-script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/controllers/controllers.js')       
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-combined.min.css')
    link(rel="stylesheet", href="/stylesheets/layoutit.css")
  body
    block content
